.env
venv/bin/
venv/lib/python3.12/site-packages/
**/__pycache__/
**/*.pyc
Models/Data/ConcealedPistolDataset/
Website/api/venv/routes/__pycache__/auth.cpython-312.pyc
Models/Data/ConcealedTestDataset/
Models/Data/AnnotatedData
Models/Data/test_image.jpg
Embedded System/api/venv/localcache/input_image.jpg
Embedded System/api/venv/localcache/test_thermal_image.jpg
Embedded System/api/venv/localcache/thumbnail.jpg
**/.DS_Store